.nav {
	margin-top: 20px;
}
#contents {
    padding-top: 20px;
	padding-left: 0px;
    padding-right: 0px;
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 0px;
    right: 15px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.radio {
    top: -12px;
}