.nav {
	margin-top: 0px;
}
#contents {
    padding-top: 10px;
	padding-left: 20px;
    padding-right: 0px;
}

.img {
    padding:0px;
}

.has-feedback .form-control-feedback {
    top: 0px;
    /*right: -7px;*/
    display: block;
    width: 0px;
    height: 34px;
    line-height: 34px;
    text-align: center;

}

.has-feedback .form-control{
    padding-right:5px
}


.btn-qrcode {
    top:100px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.has-feedback {
    padding-right:10px;
}

.legend{

    height:10px;
    vertical-align: center;
    line-height: 50px;
    padding-bottom:40px;
    padding-top:15px;
}

.guidance{
    padding:10px;
}


.toButton{
    font-size:18px;
    height:34px;
    top:0px;
    
}

.btn-group{
    padding:3px;
}

.input-group{
    padding-left:10px;
}


